    @media (max-width:992px) {
        .right-navbar-items {
            width: 80%;
        }

        .navigation-bar nav {
            width: 60%;
        }



        /* contact page */
        .contact-form-secton .flex-box {
            flex-wrap: wrap;
        }

        .Contact-page .contact-form-secton .left-img {
            width: 75%;
            margin: 30px auto;
        }

        .Contact-page .right-form {
            width: 80%;
            margin: 25px auto;
        }


        /* password Reset page */
        .ResetPassword {
            height: 100%;
            display: block;
            align-items: start;

        }

        .ResetPassword .login-page {
            width: 60%;
            overflow: scroll;
        }
    }










    @media (max-width:768px) {
        .title {
            width: 80%;
            text-align: center;
        }

        .aboutUs-section .flex-box {
            display: block;
            flex-wrap: wrap;
        }

        .aboutUs-section .about-left {
            width: 90%;
            margin: 25px auto;
        }

        .aboutUs-section .about-right {
            width: 100%;
            margin: 25px auto;
        }

        .About-terms .flex-box {
            flex-wrap: wrap;
        }

        .About-terms .term-content {
            width: 100%;
            margin: 20px 0;
            padding: 25px;
        }




        /* password Reset page */
       
        .ResetPassword .login-page {
            width: 70%;
            overflow: scroll;
        }

      




        /* foooter section */
        footer .footer-content .flex-box {
            flex-wrap: wrap;
            display: block;
        }

        footer .footer-content.flex-box {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        footer .footer-content .content {
            width: 46%;
            margin: 15px 0;
        }
    }




    @media (max-width:540px) {

        body {
            font-size: 16px;
        }



        /* password Reset page */
        .ResetPassword{
            padding: 0;
        }
        .ResetPassword .login-page {
            width: 100%;
            overflow: scroll;
        }

        .ResetPassword .login-page p {
            font-size: 13px;
        }
        .ResetPassword .login-page form{
            padding: 0px 10px;
        }
        .ResetPassword .login-page input {
            padding: 7px;
        }

        /* footer section */
        footer .footer-content .content {
            width: 90%;
            margin: 15px auto;
        }

        footer .copy-right p {
            width: 80%;
            margin: 0 auto;
            font-size: 13px;
        }
    }








    /* footer section */