@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;600;700&family=Maven+Pro:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Geologica', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Maven Pro', sans-serif; */


:root {

    --primaryColor: rgb(0, 255, 247);
    --secondaryColor: rgb(0, 173, 0);

    --RoyalBlue: royalblue;
    --whiteColor: white;
    --gostWhite: ghostwhite;
    --black: black;
    --AssColor: rgb(230, 230, 230);
    --Gray: gray;
    --gold: gold;
    --BrownColor: brown;
    --greenColor: green;
    --boxShadow: 0px 0px 15px rgba(94, 104, 121, .2);
    --transition: .6s;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Geologica', sans-serif;
}


/* Common Css styles */
.flex-box {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

button {
    outline: none !important;
    border: none !important;
    padding: 12px 10px !important;
    cursor: pointer;
}

.title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.title h3 {
    font-size: 36px;
}

.title p {
    margin: 25px 0;
}

.section {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: var(--gostWhite);
}

.loader .loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;

}

input {
    outline: none;
}

textarea {
    outline: none;
}

form input[type=submit] {
    color: var(--whiteColor);
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    background-color: var(--RoyalBlue);
    cursor: pointer;
}












/* Navbar styles */
.top-navbar {
    background-color: black;
}

.download-app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gostWhite);
    font-size: 15px;
    padding: 10px 0;

}

.download-app-title button {
    background-color: var(--BrownColor);
    padding: 5px 10px !important;
    color: white;
    margin-left: 15px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.download-app-title button:hover {
    background-color: green;
    color: rgb(255, 255, 255);
    border: 2px solid var(--green) !important;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.navigation-bar .logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.right-navbar-items {
    display: flex;
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navigation-bar nav {
    width: 50%;
    justify-content: right;
    display: flex;
    margin-right: 15px;
}

.navigation-bar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar nav li {
    list-style: none;
}

.navigation-bar nav li a {
    padding-bottom: 15px;
    color: var(--whiteColor);
    position: relative;
    font-size: 16px;
}

.navigation-bar nav li a.active {
    border-bottom: 2px solid rgb(241, 241, 241);
    position: relative;
}

.right-navbar-items button {
    margin: 0px 5px;
    padding: 10px !important;
    font-size: 15px;
}




/* home Page */

.banner-area {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.667), rgba(0, 0, 0, 0.694)), url("../../assets/images/Global-people.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 25px;
    height: 75vh;
}

.banner-area {
    width: 100%;
    margin: auto auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-area .content {
    width: 80%;
    text-align: center;
}

.banner-area button {
    width: 20%;
}









/* Project done section */
.Project-done-section {
    padding: 75px 0px;
}

.Project-done-section .total-investor {
    width: 23.5%;
    background-color: var(--gostWhite);
    padding: 45px;

}

.Project-done-section .total-investor h3 {
    font-size: 30px;
    color: var(--BrownColor);
}







/* how it works section */

.how-it-works-section {
    padding: 70px 0;
}

.how-it-works-section .flex-box {
    margin: 75px 0;
}

.how-it-works-section .work-content {
    width: 32%;
    box-shadow: var(--boxShadow);
    background-color: var(--gostWhite);
    padding: 40px 20px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.how-it-works-section .work-content:hover {
    box-shadow: 0px 15px 30px rgba(94, 104, 121, .2);
    background-color: white;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.how-it-works-section .work-content img {
    width: 80px;
}

.how-it-works-section .work-content h3 {
    margin-top: 15px;
}

.how-it-works-section .work-content p {
    margin-top: 15px;
    font-size: 17px;
}







/* latest transaction section */

.latest-transaction {
    padding: 60px 0;
    background-color: var(--gostWhite);
}

.latest-transaction .button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.latest-transaction button {
    margin: 0px 15px;
    width: 10%;
    border: 1px solid var(--Gray) !important;
}

.latest-transaction button {
    margin: 0px 15px;
}

.transaction-short-view {
    width: 85%;
    margin: 0 auto;
    padding: 35px 0;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.transaction-short-view table {
    width: 90%;
    margin: 0 auto;
    padding: 35px;
    background-color: var(--black);
    color: white;
    text-align: left;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.transaction-short-view table th {
    padding: 10px;
    border-bottom: 1px solid var(--gostWhite);
    color: var(--gold);
    letter-spacing: .5px;
}

.transaction-short-view tr td {
    padding: 5px;
}

.transaction-short-view tr:hover {
    background-color: gray;
}

.transaction-short-view {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.transaction-short-view .transaction img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.transaction-short-view .transaction .name {
    display: flex;
    align-items: center;

}

.latest-transaction a {
    text-align: center;
}













/* advantage area */
.advantage-area {
    padding: 45px 10px;
}

.advantage-area .content {
    width: 48%;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;

}

.advantage-area .content h3 {
    width: 100%;
    text-align: left;
    margin: 15px 0;
    font-size: 26px;
}

.advantage-img {
    width: 48%;
}

.advantage-img img {
    width: 100%;
    object-fit: contain !important;
}









/* Team Section */

.team-section {
    padding: 70px 0;
    text-align: center;

}

.team-memebers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-items {
    padding: 50px 0;
}

.team-memebers .member-card {
    width: 22.5%;
    display: inline-block;
    justify-content: space-between;
    margin: 50px 10px;
    text-align: center;

}

.team-memebers .member-card .card {
    padding: 20px;
    background-color: var(--gostWhite);
    box-shadow: var(--boxShadow);
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.team-memebers .member-card .card:hover {
    padding: 20px;
    background-color: var(--gostWhite);
    box-shadow: 0px 25px 15px rgba(94, 104, 121, .1);
    position: relative;
}


.team-memebers .member-card .card img {
    width: 120px;
    border-radius: 50%;
    position: relative;
    top: -75px;
    border: 10px solid white;
    z-index: 666666;
    /* box-shadow: 0px 25px 15px rgba(94, 104, 121, .1); */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.team-memebers .card-header {
    height: 70px;
    position: relative;

}

.team-memebers .member-card .card .card-header::after {
    content: " ";
    width: 60%;
    height: 100px;
    border: 50px;
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    top: -50%;
    left: 19%;
    border-radius: 0px 0px 50% 50%;
    -webkit-border-radius: 0px 0px 50% 50%;
    -moz-border-radius: 0px 0px 50% 50%;
    -ms-border-radius: 0px 0px 50% 50%;
    -o-border-radius: 0px 0px 50% 50%;
}

.team-memebers .card .card-body {
    margin: 10px 0;
}

.team-memebers .card .card-body p {
    margin-bottom: 15px;
    font-size: 16px;
}

.team-memebers a {
    width: fit-content;
}

.team-page {
    padding: 35px 0;
}

.team-memebers .card-footer {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.team-memebers .card-footer span {
    width: 22%;
}

.team-memebers .card-footer svg {
    font-size: 20px;
    color: var(--RoyalBlue);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.team-memebers .card-footer svg:hover {
    color: var(--greenColor);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}












.why-choose-us {
    padding: 50px 0;
}

.why-choose-us .img {
    width: 50%;
}

.text-content {
    width: 47%;
    text-align: left;
}

.text-content ul li {
    line-height: 35px;
}

.text-content h2 {
    font-size: 26px;
    margin: 25px 0;
}








/* FAQ Sections */

.Faq-section {
    padding: 50px 0;
}

.Faq-section .Faq-box h3 {
    margin-bottom: 15px;
}

.Faq-section .questionAndAnswer {
    padding: 0px 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 5px rgba(94, 104, 121, .2);
    cursor: pointer;
}

.Faq-section .Faq-box {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.Faq-section .faq span h4 {
    padding: 20px 10px;
}

.Faq-section .faq p {
    cursor: auto;
}

.Faq-section .Faq-img {
    width: 48%;
}























/* About Page */


.aboutUs-section {
    text-align: left;
    padding: 70px 0;
}

.aboutUs-section .title {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

.aboutUs-section .about-left {
    width: 48%;
}

.aboutUs-section .about-left h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.aboutUs-section .about-right {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    align-self: center;
}

.aboutUs-section .about-right ul span {
    display: flex;
    align-items: center;
}

.aboutUs-section .about-right ul span img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    object-fit: contain;
}

.aboutUs-section .about-right li {
    list-style: none;
}

.About-terms {
    padding: 70px 0;
    background-color: var(--gostWhite);
}

.About-terms .flex-box {
    display: block;
}

.term-content {
    width: 45%;
    display: inline-block;
    padding: 25px 15px;
    text-align: left;
    margin: 10px;
    background-color: var(--gostWhite);
    box-shadow: var(--boxShadow);
}

.About-terms .term-content p {
    margin: 10px 0;
}

.About-terms .term-content a {
    text-decoration: underline;
}

.MissionAndVission-section {
    padding: 50px 0;
}

.MissionAndVission-section .mission-cotent {
    width: 60%;
}

.MissionAndVission-section .mission-cotent h3 {
    font-size: 28px;
    margin: 15px 10px;
}

.MissionAndVission-section .mission-cotent .content {
    width: 46%;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    justify-content: space-around;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.MissionAndVission-section .mission-cotent .content h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.MissionAndVission-section .mission-cotent .content p {
    font-size: 16px;
}

.MissionAndVission-section .flex-box .mission-img {
    width: 40%;
    display: flex;
    align-items: center;
}















/* investment page */
.investment-page .verified-member-highlights {
    padding: 15px 0;
    background-color: var(--gostWhite);
}

.verified-member-highlights img {
    width: 30px;
    height: 30px;
    border: 2px solid var(--gostWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.verified-member-highlights img:nth-child(2) {
    margin-left: -7px;
}

.verified-member-highlights img:nth-child(3) {
    margin-left: -7px;
}

.verified-member-highlights h4 a {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;

}

.verified-member-highlights h4 small {
    margin-left: 5px;
    margin-top: -5px;
}



.investment-page .calcultation-deposit-interest {
    padding: 65px 0;
    background-color: var(--gostWhite);
}

.investment-page .aboutInvestCommission {
    width: 48%;
}

.investment-page .aboutInvestCommission p span {
    color: var(--BrownColor);
    font-style: bold;
    font-size: 22px;
}

.investment-page .aboutInvestCommission {
    width: 48%;
}

.investment-page .calculate-invest-commission {
    width: 48%;
}

.investment-page .calculation-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.investment-page .calculation-inputs .amount {
    width: 48%;
    padding: 15px;

}

.investment-page .calculation-inputs input {
    width: 100%;
    padding: 15px;
    font-size: 17px;
}

.investment-page .calculation-inputs .month {
    width: 48%;
    padding: 15px;

}

.investment-page .calculation-inputs select {
    width: 100%;
    padding: 15px;
    outline: none;
    font-size: 18px;
}

.investment-page .calculation-inputs select option {
    font-size: 16px;
    padding: 25px !important;
}

.investment-page .calculate-invest-commission button {
    width: 100%;
    background-color: var(--RoyalBlue);
    color: white;
    margin-top: 15px;
}

.investment-page .WhatIs-investSection {
    padding: 50px 0;
}

.investment-page .WhatIs-investSection .invest-description {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.investment-page .WhatIs-investSection .invest-description h3 {
    display: flex;
    margin-bottom: 15px;
}

.investment-page .WhatIs-investSection .invest-describe-img {
    width: 48%;
}







/* contact page */

.Contact-page {
    padding: 50px 0;
}

.Contact-page .title p {
    margin: 10px;
}

.Contact-page .contact-form-secton {
    padding: 30px 0;

}

.Contact-page .contact-form-secton .left-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

.Contact-page .contact-form-secton img {
    width: 70%;
    height: 100%;

}

.Contact-page .right-form {
    width: 50%;
}

.Contact-page .contact-form form {
    display: block !important;

}

.Contact-page .contact-form form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-shadow: var(--boxShadow);
    border: none;
    letter-spacing: 1px;
    font-size: 16px;
    background-color: var(--gostWhite);
}

.Contact-page .contact-form input[type=submit] {
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

.Contact-page .contact-form form textarea {
    width: 100%;
    height: 200px;
    font-size: 17px;
    padding: 20px;
    margin: 10px 0;
    text-transform: capitalize;
    box-shadow: var(--boxShadow);
    border: none;
    letter-spacing: 1px;
    background-color: var(--gostWhite);
}











/* profile page */
.profile-page {
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--gostWhite);
}

.profile-page-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-page-layout .ProfileSidebar {
    width: 100%;
    padding: 0;
    position: sticky;
    top: 50%;
}

.profile-page .react-tabs {
    display: flex;
}

.profile-page .react-tabs__tab-list {
    border-bottom: none;
}

.profile-page-layout .sidebar-box {
    position: sticky;
    top: 0;
    margin: 35px 0;
    background-color: var(--gostWhite);
}

.profile-page-layout .sidebar-box .user-name {
    width: 100%;
    margin: 25px 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: var(--whiteColor);
    box-shadow: var(--boxShadow);
    border-bottom: 1px solid rgb(233, 233, 233);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.profile-page-layout .sidebar-box .user-name h4 {
    width: 80%;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
}

.profile-page-layout .sidebar-box .user-name span {
    width: 20%;
}

.profile-page-layout .sidebar-box .user-name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-page-layout .sidebar-box ul {
    width: 100%;
    background-color: red;
    padding: 10px 0;
    background-color: var(--whiteColor);
    box-shadow: var(--boxShadow);
    margin: 25px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
}

.profile-page-layout .sidebar-box li {
    list-style: none;
    text-align: left;
    padding: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.profile-page-layout ul li {
    display: flex;
    height: 100%;
    align-items: center;
}

.profile-page-layout ul li svg {
    width: 40px;
    font-size: 18px;
    color: var(--RoyalBlue);
    display: flex;
}

.profile-page-layout .sidebar-box li:not(:last-child) {
    border-bottom: 1px solid rgb(226, 226, 226);
}

.profile-page-layout .sidebar-box li a.active {
    background-color: var(--RoyalBlue);
}

.profile-page-layout .sidebar-box .profile-nav li:hover {
    background-color: var(--RoyalBlue);
    border-radius: 0px 5px 5px 0px;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

.profile-page-layout .ProfileContents {
    width: 74%;
    background-color: var(--gostWhite);
    padding: 25px 0;
    text-align: left;
}

.profile-page-layout .sidebar-log-out {
    display: flex;
    justify-content: center;
}

.profile-page-layout .sidebar-log-out li:hover {
    background-color: none !important;
}


.profile-page .react-tabs {

    justify-content: space-between;
}


/* .ProfileContents p{
    background-color: red;
} */



/* Auth Page */
.Authentication-page {
    justify-content: center;
    padding: 25px;
}

.Authentication-page .log-reg-button {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.Authentication-page .log-reg-button button {
    margin: 0px 10px;
    width: 12%;
}


/* login page */
.login-page {
    width: 45%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(94, 104, 121, .2);
    display: block;
    justify-content: center;
    padding: 45px 25px;
}

.login-page form input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
}

.login-page .Login-otherWay {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.login-page .Login-otherWay p {
    width: 100%;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 0;
    text-transform: capitalize;
    justify-content: center;

}

.login-page .Login-otherWay div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-page .Login-otherWay button {
    width: 55%;
    display: flex;
    align-items: center;
    font-size: 15px;
    box-shadow: 0px 0px 3px rgb(191, 191, 191);
}

.login-page .Login-otherWay button img {
    width: 20px;
    display: flex;
    margin: 0px 10px;
}

.login-page .login-reg-refer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: red;
}

.login-page .login-reg-refer a {
    text-decoration: underline;
}

/* Reset password.. */
.ResetPassword {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 45px 0;
    background-color: white;
    z-index: 9999999999;
    display: flex;
    align-items: center;
}

.ResetPassword .login-section {
    width: 100% !important;
    height: 50%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ResetPassword form {
    width: 100%;
    margin: 0 auto;
}

.ResetPassword h3 {
    font-size: 18px;
    color: var(--BrownColor);
}

.ResetPassword p {
    font-size: 15px;
    margin: 10px 0;
}

.ResetPassword .login-page {
    padding: 0px 20px;
}






/* error page */

.error-page {
    padding: 25px 0;
}

.error-page p {
    color: var(--BrownColor);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.error-page img {
    width: 50%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
}












/* foooter area style */

footer {
    background-color: black;
    padding: 25px;
    color: rgb(191, 191, 191);
}

footer .footer-content .text {
    padding-top: 15px;
}

footer .footer-content .content {
    width: 22%;
    text-align: left;
}

footer .footer-content .nav-items li {
    width: 42%;
    text-align: left;
    line-height: 30px;
}

footer .footer-content .nav-items li a:hover {
    color: white;
    transform: translateY(55px);
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
}

footer .social-icons p {
    margin-bottom: 30px;
}

footer .social-icons span {
    width: 23.5%;
    display: inline-block;
}

footer .social-icons svg {
    font-size: 20px;
    cursor: pointer;
    margin: 7px 0;
}

footer .footer-content .address {
    list-style: none;
    text-align: left;
    line-height: 35px;
}

footer .address li {
    display: flex;
    height: 100%;
    align-items: center;
}

footer .address li svg {
    width: 20px;
    height: 20px;
    color: var(--RoyalBlue);
    font-size: 20px;
    margin-right: 20px;
    display: flex;
    align-self: center;
}

footer p {
    font-size: 14px;
}

footer li {
    font-size: 14px;
}

footer .copy-right {
    padding: 30px 00;
    text-align: center;
}