:root {

    --primaryColor: rgb(0, 255, 247);
    --secondaryColor: rgb(0, 173, 0);

    --RoyalBlue: royalblue;
    --whiteColor: white;
    --gostWhite: ghostwhite;
    --black: black;
    --AssColor: rgb(230, 230, 230);
    --Gray: gray;
    --gold: gold;
    --BrownColor: brown;
    --greenColor: green;
    --boxShadow: 0px 0px 15px rgba(94, 104, 121, .2);
    --transition: .6s;

}




.profile-page {
    margin: 0;
    padding: 0;
}

.profile-page .ProfilePage-Contents {
    padding: 0;
}

.page-title {
    padding: 15px 25px;
    background-color: var(white);
    text-align: center;
    border-bottom: .5px solid rgb(232, 232, 232);
}

.flex-box {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.Deposits-items {
    width: 48%;
    margin: 15px 0;
    padding: 25px 15px;
    background-color: var(--whiteColor);
}

.Deposits-items h4 {
    text-align: center;
    margin-bottom: 15px;
}

.Deposits-items p {
    font-size: 16px;
    line-height: 30px;
}

.Deposits-items p span {
    font-weight: 700;
    color: var(--BrownColor);
}

.Deposits-items .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.Deposits-items button {
    width: 40%;
    font-size: 16px;
}

.Deposits-items button:nth-child(1) {
    background-color: var(--BrownColor);
    color: var(--whiteColor);
}

.Deposits-items button:nth-child(2) {
    background-color: var(--greenColor);
    color: var(--whiteColor);
    cursor: not-allowed;
}







/* Matured deposit page */
.matureDeposit-page .deposit-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.matureDeposit-page .deposit-body p {
    margin: 0px 10px;
}






/* Verification page */

.verified-membership-page {
    height: 50vh;

}

.verification-form-section .react-tabs {
    display: block;

}

.verification-form-section .react-tabs__tab-list {
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin: 0 auto;
    padding: 25px 0;
    /* border-bottom: .5px solid gainsboro; */
    background-color: transparent;
}

.verification-form-section .react-tabs__tab-list li {
    font-size: 16px;
}

.verified-membership-page .verification-form-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.verified-membership-page .react-tabs__tab-panel {
    margin: 25px 0;
}

.verified-membership-page .verification-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(94, 104, 121, .149);
    padding: 25px;
    margin: auto auto !important;
}

.verified-membership-page form {
    width: 100%;
}

.verified-membership-page form input {
    width: 100%;
    display: block;
    padding: 7px;
    margin: 8px 0;
    font-size: 17px;
}

.verified-membership-page form input[type=submit] {
    padding: 15px 0;
    margin-top: 15px;
}









.transation-history-page .transaction-box {
    padding: 35px 0px;

}


.transaction-box .transactions {
    width: 80%;
    padding: 10px;
    margin: 0px auto;
}

.transactions span {
    width: 100%;
    display: flex;
    padding: 0 10px;
    font-size: 15px;

}

.transaction-box .body {
    padding: 10px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(94, 104, 121, .149);
}

.transaction-box .body h4 {
    text-transform: capitalize;

}

.transaction-box .body p {
    font-size: 15px;
}







/* Notifications */

.notification-box {
    width: 100%;
    padding: 15px;
}

.notification-box .transactions {
    width: 80%;
    margin: 0 auto;
}

.notification-box .Notification {
    margin: 20px auto;
    padding: 0px;
}

.notification-box .Notification span p {
    font-size: 15px;
}

.body {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.body h4 {
    text-transform: capitalize;
}

.body p {
    font-weight: 400;
    font-size: 16px;
}







/* Deposit page styles... */

.Deposit-page {
    padding: 15px;
}

.Deposit-page .deposit {
    width: 80%;
    margin: 20px auto;
}

.notification-box .deposit span {
    width: 100%;
    display: flex;
    padding: 0 10px;
    font-size: 15px;

}